name: Release

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build-prod

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  commit-build:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout build branch
        uses: actions/checkout@v4
        with:
          ref: build

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Commit and Push
        run: |
          if [ -n "$(git status dist --porcelain)" ]; then
            git config user.name "GitHub Actions"
            git config user.email "noreply@github.com"
            git add dist
            git commit -m "chore: update build output"
            git push origin HEAD --force
          fi
